<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>UIKit - CollectionView</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Basic - 1</string>
					<key>vc</key>
					<string>CollectionView1ViewController</string>
				</dict>
			</array>
		</dict>

		<dict>
			<key>title</key>
			<string>LayerKit</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>CALayer.contents</string>
					<key>vc</key>
					<string>LayerKit1ViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>CALayer.contentsGravity</string>
					<key>vc</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>CALayer.contentsScale</string>
					<key>vc</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>CALayer.maskToBounds</string>
					<key>vc</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>CALayer.contentsRect</string>
					<key>vc</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>CALayer.contentsCenter</string>
					<key>vc</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>CALayerDelegate</string>
					<key>vc</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIKit - NSParagraphStyle</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>lineSpacing</string>
					<key>vc</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>minimumLineHeight/maximumLineHeight</string>
					<key>vc</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
