<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>LayerKit</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>contentsプロパティ</string>
					<key>vc</key>
					<string>LayerKit1ViewController</string>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
